/* General Styles + Layout */
body {
  font-family: 'Roboto', sans-serif; /* Default body font style */
  background-color: #282828!important; /* Default body background color */
}

#home, #play, #about, #contact {
  height: 100vh;
  max-height: 1080px;
  background-size: cover;
  background-position: center;
} /* Dimensions and set up of each section by ID */

#play, #about, #contact {
  padding-top: 5%;
}

h1 {
  color: white;
}

button {
  background-color:white;
  width: 100%;
  border: 1.4px solid;
  border-color: transparent;
  border-radius: 50px!important;
  padding: 12px 30px;
}

button:hover {
  border-color:#1F5BFF;
  background-color:white;
  color: #1F5BFF;
  font-weight: 700;
}

/* Navigation styles */
.nav-link {
  font-weight: 300;
  font-size: 18px;
  color: white!important;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link:hover {
  font-weight: 700;
}

/* Banner styles */
.banner-text {
  font-family: Lobster;
  font-size: 150px;
  text-align: center;
  margin-top: 20%;
}

.paragraph-text {
  color: #a8a8a8;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  text-align: center;
  margin-top: 2%;
}

.action-button {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.banner-button-text {
  font-size: 18px;
}

/* Play section styles */
.playerContainer {
  display: border-box;
}

#name1, #name2 {
  border-radius: 2rem;
}

.input-name {
  text-align: center;
}

.h1-text {
  font-size: 36px;
  font-family: Lobster;
  text-align: center;
  margin-bottom: 5%;
}

.playerParagraph {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.player1Image, .player2Image {
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.output {
  font-family: Lobster;
  font-size: 30px;
  text-align: center!important;
  color: #1F5BFF;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
}

/* Footer */
footer, .fab-group {
  background-color: white;
  height: 30vh;
  width: 100%;
}

.footer-text {
  font-size: 18px;
  color: #282828!important;
  text-align: center;
  font-weight: 700;
  padding-top: 4%;
}

.fab-group {
  display: block;
  text-align: center;
  padding-top: 4%;
}

.fab {
  padding-left: .5em;
  padding-right: .5em;
  color: #282828!important;
}

/* Contact section styles */
.contactform {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: 18px;
  color: white;
  margin-top: 7%;
  margin-bottom: 1%;
}

.form-control {
  border: 1.4px solid;
  border-color: white;
  border-radius: 2rem!important;
}

/* Back to top button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed;
  width: 4%;
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  padding: 15px;
  border-radius: 30px;
  font-size: 18px;
}
